/* You can add global styles to this file, and also import other style files */

.loader-centre {
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/assets/backgrounds/background_7.jpg");
  background-size: cover;
  background-position: center;
}

.parallax-container {
  height: 25vw;
  max-height: 300px;
}

.sidenav-overlay {
  display: none !important;
}

.aim-blue {
  background-color: #141484 !important;
}

.aim-white {
  background-color: #ffffff !important;
}

.aim-black {
  background-color: #000000 !important;
}

.aim-red {
  background-color: #9b0202 !important;
}

.aim-green {
  background-color: #084f34 !important;
}
