body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/backgrounds/background_7.jpg");
    background-position: center;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

.horizontal-centre {
    display:flex;
    align-items:center;
}

.parallax-container {
    height: 25vw;
    max-height: 300px;
}

.parallax img {
    width: 100%;
}

/* fallback */
@font-face {
    font-family: 'Material-Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/lib/materialize/material-icons.woff2") format('woff2');
}

.material-icons {
    font-family: 'Material-Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.brand-logo {
    max-height: 60px;
    padding: 2px !important;
}

.aim-blue {
  background-color: #070751 !important;
}

.aim-white {
  background-color: #ffffff !important;
}

.aim-black {
  background-color: #000000 !important;
}

.aim-red {
  background-color: #9b0202 !important;
}

.aim-green {
  background-color: #084f34 !important;
}
