@model carbon.api.Models.Account.PasswordInputModel

@{
    @(await Html.PartialAsync("_ValidationSummary", Model))
}

@{
    ViewData["Title"] = "Profile";
}

<div class="parallax-container">
    <div class="parallax"></div>
</div>

<div class="section white">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <form asp-route="Password">
                    <h3>Password Change</h3>
    
                    <div class="row">
                        <div class="input-field col s12">
                            <input disabled value="@Model.UserName" id="disabled" type="text" class="validate" asp-for="UserName">
                            <label for="disabled">Username</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password_current" type="password" class="validate" asp-for="CurrentPassword">
                            <label for="password_current">Current Password</label>
                        </div>
    
                        <div class="input-field col s6">
                            <input id="password_new" type="password" class="validate" asp-for="NewPassword">
                            <label for="password_new">New Password</label>
                        </div>
    
                        <div class="input-field col s6">
                            <input id="password_new_verify" type="password" class="validate" asp-for="NewPasswordVerify">
                            <label for="password_new_verify">New Password Verify</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col s12">
                            <button class="btn green" name="button" value="update">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"></div>
</div>