@model carbon.api.Models.Account.ProfileViewModel

@{
    @(await Html.PartialAsync("_ValidationSummary", Model))
}

@{
    ViewData["Title"] = "Profile";
}

<div class="parallax-container">
    <div class="parallax"></div>
</div>

<div class="section white">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                <h3>User Details</h3>
                
                <div class="row">
                    <div class="input-field col m12 s12">
                        <input disabled value="@Model.UserName" id="disabled" type="text" class="validate">
                        <label for="disabled">Username</label>
                    </div>

                    <div class="input-field col m6 s12">
                        <input id="name_first" type="text" class="validate">
                        <label for="name_first">First</label>
                    </div>
                    
                    <div class="input-field col m6 s12">
                        <input id="name_last" type="text" class="validate">
                        <label for="name_last">Last</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn green">Update</a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn green" href="/Account/Password"><i class="material-icons left">vpn_key</i> Change Password</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"></div>
</div>