@model carbon.api.Models.Account.RegisterViewModel

@{
    @(await Html.PartialAsync("_ValidationSummary", Model))
}

@{
    ViewData["Title"] = "Register";
}

<div class="parallax-container">
    <div class="parallax"></div>
</div>

<div class="section white">
    <div class="row container">
        
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            Congrats, you have registered. You can now login. 
        </div>

    </div>
</div>

<div class="parallax-container">
    <div class="parallax"></div>
</div>

