<div class="parallax-container">
  <div class="parallax"></div>
</div>


<div class="section white z-depth-2">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10 offset-l1">

        <h1>Privacy</h1>

        <p>All information (as to this database system) is stored and
          used for purposes of communication and registration to the Australian National Rover Moot 2022/2023 (ANMR2022/23)
          also known as Apple Isle Moot (AIM). This data may be used by The Scout Association of Australia Tasmanian Branch
          (ABN: 88 436 518 233) and The Scout Association of Australia (ABN: 57 030 516 857) for any reasonable use limited
          to the Australian National Rover Moot 2022/2023.</p>

        <p>This data will be stored on a server based in Sydney hosted by Linode Australia Pty Ltd (ABN: 36 635 095 466)
          www.linode.com. The location of this server may change from time to time however the data will be kept within
          Australia. </p>

        <p>The database system has been developed and is maintained by Owen Holloway. All code can be audited and reviewed
          at https://dev.azure.com/zeryterxyz/_git/carbon-event-scout and is released under the GNUGPLv3 license.
          Any improvements are welcome. </p>

      </div>
    </div>
  </div>
</div>


<div class="parallax-container">
  <div class="parallax"></div>
</div>
