<div class="parallax-container">
  <div class="parallax"></div>
</div>


<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10 offset-l1">

        <h1>Counter</h1>

        <p>This is a simple example of an Angular component.</p>

        <p>Current count: <strong>{{ currentCount }}</strong></p>

        <button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

      </div>
    </div>
  </div>
</div>


<div class="parallax-container">
  <div class="parallax"></div>
</div>
