<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3"><a href="#test-swipe-1">Settings 1</a></li>
  <li class="tab col s3"><a class="active" href="#test-swipe-2">Settings 2</a></li>
  <li class="tab col s3"><a href="#test-swipe-3">Settings 3</a></li>
</ul>

<div id="test-swipe-1" style="display: block; min-height: calc(100vh - 150px);">
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>


  <div class="section white">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l10 offset-l1">

        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax"></div>
  </div>
</div>

<div id="test-swipe-2" style="display: block; min-height: calc(100vh - 150px);">
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>


  <div class="section white">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l10 offset-l1">

        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax"></div>
  </div>
</div>

<div id="test-swipe-3" style="display: block; min-height: calc(100vh - 150px);">
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>


  <div class="section white">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l10 offset-l1">

        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax"></div>
  </div>
</div>

