<app-loader [loading]="this.loading"></app-loader>

<div class="row">
  <div class="col s12 m12 l12">
    <ul id="tabs-swipe" class="tabs z-depth-3">
      <li class="tab col s3"><a class="active" href="#test-swipe-1" (click)="tab(1); getApplications()">Applications</a></li>
<!--      <li class="tab col s3"><a href="#test-swipe-3">Settings 3</a></li>
      <li class="tab col s3"><a href="#test-swipe-4">Settings 4</a></li>-->
    </ul>
  </div>
</div>

<div *ngIf="this.tabNo === 1" id="test-swipe-1" style="display: block; min-height: calc(100vh - 150px);">

  <div class="row">
    <div class="col s12 m12 l12">
      <ul class="collapsible">
        <li *ngFor="let country of this.countriesApplied">
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{country.fullName}} ({{this.countryApplications[country.id - 1].length}})</div>
          <div class="collapsible-body white">
            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>All</div>
                <div class="collapsible-body white">
                  <table class="striped">

                    <thead class="blue accent-1">
                    <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th *ngIf="this.countryApplications[country.id - 1][0].state > 0">State</th>
                      <th></th>
                    </tr>
                    </thead>

                    <tbody>
                      <ng-container *ngFor="let application of this.countryApplications[country.id - 1]">
                          <tr>
                            <td>{{application.name}}</td>
                            <td>{{application.statusLabel}}</td>
                            <td *ngIf="this.countryApplications[country.id - 1][0].state > 0">{{this.states[country.id - 1][application.state - 1].fullName}}</td>
                            <td><i class="material-icons">info</i></td>
                          </tr>
                      </ng-container>
                    </tbody>

                  </table>
                </div>
              </li>
            </ul>
            <ng-container  *ngIf="this.states[country.id - 1].length > 1">
              <ul class="collapsible">
                <li *ngFor="let state of this.statesApplied[country.id - 1]; let i = index">
                  <div *ngIf="this.stateApplications[country.id - 1][state.id - 1].length > 0" class="collapsible-header"><i class="material-icons">filter_drama</i>{{state.fullName}} ({{this.stateApplications[country.id - 1][state.id - 1].length}})</div>
                  <div class="collapsible-body white">
                    <table class="striped">

                      <thead class="blue accent-1">
                      <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                      </thead>

                      <tbody>
                      <ng-container *ngFor="let application of this.stateApplications[country.id - 1][state.id - 1]">
                        <tr>
                          <td>{{application.name}}</td>
                          <td>{{application.statusLabel}}</td>
                          <td><i class="material-icons">info</i></td>
                        </tr>
                      </ng-container>
                      </tbody>

                    </table>
                  </div>
                </li>
              </ul>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<div *ngIf="this.tabNo === 2" id="test-swipe-2" style="display: block; min-height: calc(100vh - 150px);">

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="section white z-depth-3">

      </div>
    </div>
  </div>

</div>

<div *ngIf="this.tabNo === 3" id="test-swipe-3" style="display: block; min-height: calc(100vh - 150px);">

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="section white z-depth-3">

      </div>
    </div>
  </div>

</div>

<div *ngIf="this.tabNo === 4" id="test-swipe-4" style="display: block; min-height: calc(100vh - 150px);">

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="section white z-depth-3">

      </div>
    </div>
  </div>

</div>
