<div class="parallax-container">
  <div class="parallax"></div>
</div>


<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10 offset-l1">
        <H3 class="col s12">Pre-Registration</H3>
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" [(ngModel)]="this.application.name">
          <label for="name">Full Name (First & Last)</label>
        </div>
        <div class="input-field col s4">
          <input id="birthdate_day" type="number" [(ngModel)]="this.dateOfBirth.day">
          <label for="birthdate_day">Day</label>
        </div>
        <div class="input-field col s4">
          <input id="birthdate_month" type="number" [(ngModel)]="this.dateOfBirth.month">
          <label for="birthdate_month">Month</label>
        </div>
        <div class="input-field col s4">
          <input id="birthdate_year" type="number" [(ngModel)]="this.dateOfBirth.year">
          <label for="birthdate_month">Year</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" [(ngModel)]="this.application.email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <select *ngFor="let country of this.countries; let i = index">
            <option value="{{country.id}}">{{country.shortName}} | {{country.longName}}</option>
          </select>
          <label>Materialize Select</label>
        </div>
        <div class="col s12">
          <button class="btn waves-effect waves-light modal-trigger" href="#submit-accept-model">Pre Register for AIM!
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container">
  <div class="parallax"></div>
</div>

<!-- Modal Structure -->
<div id="submit-accept-model" class="modal">
  <div class="modal-content">
    <h4>Terms of Agreement</h4>
    <p>//TODO basic terms of data storage etc</p>
  </div>
  <div class="modal-footer">
    <a (click)="SubmitApplication()" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
