<app-loader [loading]="this.loading"></app-loader>

<div class="parallax-container">
  <div class="parallax"></div>
</div>

<div class="section white" *ngIf="!this.applicationSubmitted">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10 offset-l1">
        <H3 class="col s12">Pre-Registration</H3>
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" [(ngModel)]="this.application.name">
          <label for="name">Full Name (First & Last)</label>
        </div>
        <div class="input-field col s4">
          <h5>Date of Birth</h5>
        </div>
        <div class="input-field col s4">
          <input id="birthdate_day" type="number" [(ngModel)]="this.dateOfBirth.day">
          <label for="birthdate_day">Day</label>
        </div>
        <div class="input-field col s4">
          <input id="birthdate_month" type="number" [(ngModel)]="this.dateOfBirth.month">
          <label for="birthdate_month">Month</label>
        </div>
        <div class="input-field col s4">
          <input id="birthdate_year" type="number" [(ngModel)]="this.dateOfBirth.year">
          <label for="birthdate_year">Year</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" [(ngModel)]="this.application.email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <select class="browser-default" [(ngModel)]="this.application.country" (change)="this.countryChange()">
            <option [ngValue]="0" disabled selected>Country</option>
            <option *ngFor="let country of this.countries" [ngValue]="country.id">{{country.shortCode}} | {{country.fullName}}</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select class="browser-default" [(ngModel)]="this.application.state">
            <option [ngValue]="0" disabled selected>State/Territory</option>
            <option *ngFor="let state of this.states[this.application.country - 1]" [ngValue]="state.id">{{state.fullName}}</option>
          </select>
        </div>
        <div class="col s12">
          <button class="btn waves-effect waves-light modal-trigger aim-green" href="#submit-accept-model">Pre Register for AIM!
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section white" *ngIf="this.applicationSubmitted">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10 offset-l1">
        <H3 class="col s12 teal-text">Successfully Pre-Registered</H3>
        <h5 class="col s12 teal-text"> Details:</h5>
        <div class="input-field col s12">
          <input id="name_submitted" type="text" disabled value="{{this.application.name}}">
        </div>
        <div class="input-field col s12">
          <input id="birthdate_month_submitted" type="text" disabled value="{{this.applicationAgeAtMoot.years}} years & {{this.applicationAgeAtMoot.months}} months at 30th December 2022">
        </div>
        <div class="input-field col s12">
          <input id="email_submitted" type="email" class="validate" disabled value="{{this.application.email}}">
        </div>
        <div class="input-field col s6">
          <select class="browser-default" [(ngModel)]="this.application.country" disabled>
            <option [ngValue]="0" disabled selected>Country</option>
            <option *ngFor="let country of this.countries" [ngValue]="country.id">{{country.shortCode}} | {{country.fullName}}</option>
          </select>
        </div>
        <div class="input-field col s6">
          <select class="browser-default" [(ngModel)]="this.application.state" disabled>
            <option [ngValue]="0" disabled selected>State/Territory</option>
            <option *ngFor="let state of this.states[this.application.country - 1]" [ngValue]="state.id">{{state.fullName}}</option>
          </select>
        </div>
        <div class="col s12">
          <button class="btn waves-effect waves-light modal-trigger aim-blue" (click)="this.getBlankPreliminaryApplication()">Start a new Pre-Registration
            <i class="material-icons right">edit</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"></div>
</div>

<!-- Modal Structure -->
<div id="submit-accept-model" class="modal">
  <div class="modal-content" [innerHTML]="this.TOS">
  </div>
  <div class="modal-footer">
    <a (click)="SubmitApplication()" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
