@{
    ViewData["Title"] = "404";
}


<div class="parallax-container">
    <div class="parallax"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">404</h2>
        <p>
            Ooops, that doesn't seem to exist
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"></div>
</div>