@{
    ViewData["Title"] = "Error";
}
<div class="parallax-container">
    <div class="parallax"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2>That was an error ....</h2>
        <p>
            Something went wrong, and now you are here. That wasn't meant to happen!
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"></div>
</div>