@{
    ViewData["Title"] = "Home Page";
}


<div class="parallax-container">
    <div class="parallax"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Carbon</h2>
        <p class="grey-text text-darken-3 lighten-3">Carbon is a complex element that makes many things possible. 
            This is the flexible API base that does the same.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"></div>
</div>